@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Contact</h1>

<div id="googleMap" style="width:100%;height:400px;"></div>

<div>
    <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=19.71589846760989~-155.083474117177&lvl=15&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
    <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
        <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=19.71589846760989~-155.083474117177&amp;sty=r&amp;lvl=15&amp;FORM=MBEDLD">Grotere kaart weergeven</a> &nbsp; | &nbsp;
        <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=19.71589846760989~-155.083474117177&amp;sty=r&amp;lvl=15&amp;rtp=~pos.19.71589846760989_-155.083474117177____&amp;FORM=MBEDLD">Routebeschrijving weergeven</a>
    </div>
</div>