@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Contact</h1>

<div class="container mb-4">
    <h4>T: 1222222</h4>
    <h4>E: email@email.com</h4>
</div>

<hr />

<div class="row my-5">
    <div class="col-md-6">
        <form asp-controller="FAQSController" asp-action="Create" method="post">
            <div class="form-group">
                <label class="control-label">Naam</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">adres</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">woonplaats</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Telefoonnummer</label>
                <input class="form-control" />
            </div>
            <button class="mailer" type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
    
    <div class=" col-md-4">
        <div>
            <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=19.71589846760989~-155.083474117177&lvl=15&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
            <div style="white-space: nowrap; text-align: center; width: 100%; padding: 6px 0;">
                <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=19.71589846760989~-155.083474117177&amp;sty=r&amp;lvl=15&amp;FORM=MBEDLD">Grotere kaart weergeven</a> &nbsp; | &nbsp;
                <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=19.71589846760989~-155.083474117177&amp;sty=r&amp;lvl=15&amp;rtp=~pos.19.71589846760989_-155.083474117177____&amp;FORM=MBEDLD">Routebeschrijving weergeven</a>
            </div>
        </div>
    </div>
</div>


<hr />



